@charset "UTF-8";

body{
	margin: 0%;
	background-color: #F2F2F2;
}


.main{
	margin-left : 15%;
	margin-right : 15%;
	padding-left : 2%;
	padding-right : 2%;
	background-color : white;
	padding-top: 8%; 
	height: 78vh;
}

.mid{
	padding: 3%;
	width: 60vw;
	border: 1px solid;
	height: auto;
}

.info{
	display: flex;
/* 	justify-content:space-between; */
	border: 1px solid;	
	padding: 1%;
	margin-bottom: 1%;
}

.infoName{
	
}
